<div class="jumbotron">
  <center>
  <%= link_to image_tag("logo.jpg", size: "250x200", alt: "Home"),
            "/" %>
  <h1>DrawApp</h1>

<div id="fade"><p>Provide us with information.</p>

  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user, url: signup_path) do |f| %>
    <%= render 'shared/error_messages' %>
    <div class="input-group">
      <p><%= f.text_field :name, placeholder: "Username", class:"form-control" %></p><br>
      <p><%= f.password_field :password, placeholder: "Password", class:"form-control" %></p><br>
      <p><%= f.password_field :password_confirmation, placeholder: "Repeat password", class:"form-control" %></p><br>
    </div><br>
      <%= f.submit "Create my account", class: "btn btn-primary" %>

    <% end %>
  </center>
  </div>
</div>


